@using WebApp.Models
@model Category


        <h1>Welcome to the Homepage</h1>
        <br />
        <p>
            This is our new homepage. It is a simple HTML page with a little bit of text.
        </p>
